@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-light-text bg-light-primary dark:bg-dark-primary dark:text-dark-text transition-colors duration-300;
  }
}
